@import "vendor/animate";
@import "vendor/bootstrap";


html,body, main-app, app-view{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
main-app, app-view{
  display: block;
}

view-body{
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
  padding-top: 10%;
}
clear-fix{
  display: block;
  clear: both;
}
login-modal app-name{

  @extend h3;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}
view-footer{
  display: block;
  height: 50px; /* .push must be the same height as .footer */
  padding: 15px;
  width: 100%;
  background: #1c1c1c;
  color: #777;
  font-size: 11px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

body{
  background: url("../img/pattern-eip0.png");
}

login-modal{
  display: block;
  background-color: white;
  width: 400px;
  margin: auto;
  padding: 20px;
  @extend .bounceInDown;
  @extend .animated;

}

login-button {
  @extend .btn;
  @extend .btn-primary;
  float: right;
  margin-top: 10px;

}

username-input{

}

username-input input{
  @extend .form-control;

}
username-input *{
  color:red;

}

app-logo{
  display: block;
  clear: both;
}
app-logo img{
  width: 150px;

}